## Carrier claims

In [1]:
import pandas as pd
import numpy as np
import os
cwd = os.getcwd()

#If on MAC, this will likely work
datadir = '/'.join(cwd.split('/')[0:-2]) + '/Project/'

In [4]:
#claim files for merging
claims1 = pd.read_csv(datadir + 'DE1_0_2008_to_2010_Carrier_Claims_Sample_2A.csv')
claims1.head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,46,47,48,49,50,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_4,LINE_ICD9_DGNS_CD_5,LINE_ICD9_DGNS_CD_6,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13
0,00000B48BCF4AD29,737133358637027,20080216,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00000B48BCF4AD29,737783362300937,20080219,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00000B48BCF4AD29,737513360019665,20080220,20080220,8241,27651,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00000B48BCF4AD29,737553359102154,20080223,20080223,V676,V5861,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00000B48BCF4AD29,737033360678635,20080311,20080311,5765,56969,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
claims2 = pd.read_csv(datadir + 'DE1_0_2008_to_2010_Carrier_Claims_Sample_2B.csv')
claims2.head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,9,10,11,45,46,47,48,49,50,135,136,137,138,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_4,LINE_ICD9_DGNS_CD_5,LINE_ICD9_DGNS_CD_6,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13
0,7F5AC1D788A6E462,737473360654133,20080803,20080808,4289,4148,4660,5119,4010,496,...,42831,42831,42831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7F5AC1D788A6E462,737453360048588,20080809,20080809,7936,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7F5AC1D788A6E462,737083358081787,20080810,20080810,78659,4019,56400,1830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7F5AC1D788A6E462,737433360336341,20080814,20080814,24960,4011,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7F5AC1D788A6E462,737493359449315,20080821,20080821,71531,NaN,NaN,NaN,NaN,NaN,...,71516,71516,71516,71516,71516,71516,NaN,NaN,NaN,NaN

In [6]:
#Merging two claims files
claims = pd.concat([claims1, claims2])

In [7]:
working_df = claims
working_df.head()

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_4,LINE_ICD9_DGNS_CD_5,LINE_ICD9_DGNS_CD_6,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13
0,00000B48BCF4AD29,737133358637027,20080216,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00000B48BCF4AD29,737783362300937,20080219,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00000B48BCF4AD29,737513360019665,20080220,20080220,8241,27651,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00000B48BCF4AD29,737553359102154,20080223,20080223,V676,V5861,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00000B48BCF4AD29,737033360678635,20080311,20080311,5765,56969,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Drop rows and columns where all elements are NULL
working_df = working_df.dropna(axis=1, how='all')
working_df = working_df.dropna(axis=0, how='all')
working_df.shape

(4745914, 142)

In [12]:
import pickle
clean_df = pickle.load(open(datadir +"working_df.p", "rb" ))
#clean_df = pd.read_csv('preprocessed_data.csv')

In [17]:
clean_df.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,PPPYMT_OP,CLM_ADMSN_DT,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,start_train_dt,end_train_dt,member_month
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0.0,20080707.0,0,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0.0,20080724.0,0,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0.0,20080805.0,0,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,0.0,20080525.0,0,NaN,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,0.0,20080918.0,0,NaN,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905

In [14]:
#Merge carrier claims with cleaned dataset
carrier = pd.merge(working_df, clean_df[['DESYNPUF_ID', 'end_train_dt', 'Y', 'TRUE_AGE']], how='left', on='DESYNPUF_ID')

In [18]:
import datetime
from datetime import date
import dateutil
from datetime import datetime
from dateutil import parser
import numpy as np
import timeit

#Take a long time to run ~499 seconds, due to the size of the database
#If claim from date is NA, then drop
#Change claim from date to string like '20080207', and then to date format 2008-02-07

start = timeit.default_timer() 
carrier = carrier.dropna(0, subset = ['CLM_FROM_DT'])
carrier['CLM_FROM_DT'] = [str(int(x)) for x in carrier['CLM_FROM_DT']]
carrier['CLM_FROM_DT'] = [dateutil.parser.parse(str(date)).date() for date in carrier['CLM_FROM_DT']]
stop = timeit.default_timer() 
print (stop - start)

498.9846765509865

In [32]:
#Check if any carrier claims are for patients who are not in cleaned dataset
carrier.end_train_dt.isnull().any()

True

In [19]:
#Drop claims if there is no end_train_dt from clean dataset
carrier_1 = carrier.dropna(subset=['end_train_dt'])
carrier_1.head()

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13,end_train_dt,Y,TRUE_AGE
0,00000B48BCF4AD29,737133358637027,2008-02-16,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
1,00000B48BCF4AD29,737133358637027,2008-02-16,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
2,00000B48BCF4AD29,737133358637027,2008-02-16,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
3,00000B48BCF4AD29,737783362300937,2008-02-19,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
4,00000B48BCF4AD29,737783362300937,2008-02-19,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0

In [20]:
print (carrier_1.shape)

(7489870, 145)

In [21]:
#Takes a long time to run, ~510 seconds
#Change end_train_date to a date format
start = timeit.default_timer() 
carrier_1['end_train_dt'] = [dateutil.parser.parse(str(date)).date() for date in carrier_1['end_train_dt']]
stop = timeit.default_timer() 
print (stop - start)
carrier_1.head()

510.01504301300156

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,DESYNPUF_ID,CLM_ID,CLM_FROM_DT,CLM_THRU_DT,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,...,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13,end_train_dt,Y,TRUE_AGE
0,00000B48BCF4AD29,737133358637027,2008-02-16,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
1,00000B48BCF4AD29,737133358637027,2008-02-16,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
2,00000B48BCF4AD29,737133358637027,2008-02-16,20080216,7061,70211,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
3,00000B48BCF4AD29,737783362300937,2008-02-19,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0
4,00000B48BCF4AD29,737783362300937,2008-02-19,20080219,9561,71945,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2999-07-01,0.0,86.0

In [22]:
#Time to run: 296.3 seconds
#Make a filter to get the claims whose CLM_FROM_DT is prior to 'end_train_dt'
#There are the claims to include in study
start = timeit.default_timer() 
date_mask = [carrier_1['CLM_FROM_DT'].iloc[i]<carrier_1['end_train_dt'].iloc[i] for i in range(len(carrier_1))]
stop = timeit.default_timer() 
print (stop - start)

296.3496362529986

In [23]:
df_training = carrier_1[date_mask]
df_training.shape

(7015600, 145)

In [25]:
import time
#9.7 seconds to run
#Make new features
t = time.process_time()
df_training['T_NCH_PMT'] = df_training['LINE_NCH_PMT_AMT_1']+df_training['LINE_NCH_PMT_AMT_2']+df_training['LINE_NCH_PMT_AMT_3']+df_training['LINE_NCH_PMT_AMT_4']+df_training['LINE_NCH_PMT_AMT_5']+df_training['LINE_NCH_PMT_AMT_6']+df_training['LINE_NCH_PMT_AMT_7']+df_training['LINE_NCH_PMT_AMT_8']+df_training['LINE_NCH_PMT_AMT_9']+df_training['LINE_NCH_PMT_AMT_10']+df_training['LINE_NCH_PMT_AMT_11']+df_training['LINE_NCH_PMT_AMT_12']+df_training['LINE_NCH_PMT_AMT_13']
df_training['T_DDCTBL_PMT'] = df_training['LINE_BENE_PTB_DDCTBL_AMT_1']+df_training['LINE_BENE_PTB_DDCTBL_AMT_2']+df_training['LINE_BENE_PTB_DDCTBL_AMT_3']+df_training['LINE_BENE_PTB_DDCTBL_AMT_4']+df_training['LINE_BENE_PTB_DDCTBL_AMT_5']+df_training['LINE_BENE_PTB_DDCTBL_AMT_6']+df_training['LINE_BENE_PTB_DDCTBL_AMT_7']+df_training['LINE_BENE_PTB_DDCTBL_AMT_8']+df_training['LINE_BENE_PTB_DDCTBL_AMT_9']+df_training['LINE_BENE_PTB_DDCTBL_AMT_10']+df_training['LINE_BENE_PTB_DDCTBL_AMT_11']+df_training['LINE_BENE_PTB_DDCTBL_AMT_12']+df_training['LINE_BENE_PTB_DDCTBL_AMT_13']
df_training['T_PRMRY_PMT'] = df_training['LINE_BENE_PRMRY_PYR_PD_AMT_1']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_2']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_3']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_4']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_5']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_6']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_7']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_8']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_9']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_10']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_11']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_12']+df_training['LINE_BENE_PRMRY_PYR_PD_AMT_13']
df_training['T_COIN_PMT'] = df_training['LINE_COINSRNC_AMT_1']+df_training['LINE_COINSRNC_AMT_2']+df_training['LINE_COINSRNC_AMT_3']+df_training['LINE_COINSRNC_AMT_4']+df_training['LINE_COINSRNC_AMT_5']+df_training['LINE_COINSRNC_AMT_6']+df_training['LINE_COINSRNC_AMT_7']+df_training['LINE_COINSRNC_AMT_8']+df_training['LINE_COINSRNC_AMT_9']+df_training['LINE_COINSRNC_AMT_10']+df_training['LINE_COINSRNC_AMT_11']+df_training['LINE_COINSRNC_AMT_12']+df_training['LINE_COINSRNC_AMT_13']
df_training['T_ALLOW_PMT'] = df_training['LINE_ALOWD_CHRG_AMT_1']+df_training['LINE_ALOWD_CHRG_AMT_2']+df_training['LINE_ALOWD_CHRG_AMT_3']+df_training['LINE_ALOWD_CHRG_AMT_4']+df_training['LINE_ALOWD_CHRG_AMT_5']+df_training['LINE_ALOWD_CHRG_AMT_6']+df_training['LINE_ALOWD_CHRG_AMT_7']+df_training['LINE_ALOWD_CHRG_AMT_8']+df_training['LINE_ALOWD_CHRG_AMT_9']+df_training['LINE_ALOWD_CHRG_AMT_10']+df_training['LINE_ALOWD_CHRG_AMT_11']+df_training['LINE_ALOWD_CHRG_AMT_12']+df_training['LINE_ALOWD_CHRG_AMT_13']
print(time.process_time() - t)

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

9.751144999999951

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [26]:
# check total cost in original claims
start = timeit.default_timer() 
print(carrier[['LINE_NCH_PMT_AMT_1','LINE_NCH_PMT_AMT_2','LINE_NCH_PMT_AMT_3','LINE_NCH_PMT_AMT_4','LINE_NCH_PMT_AMT_5','LINE_NCH_PMT_AMT_6','LINE_NCH_PMT_AMT_7','LINE_NCH_PMT_AMT_8','LINE_NCH_PMT_AMT_9','LINE_NCH_PMT_AMT_10','LINE_NCH_PMT_AMT_11','LINE_NCH_PMT_AMT_12','LINE_NCH_PMT_AMT_13']].sum().sum())
print(df_training[['LINE_NCH_PMT_AMT_1','LINE_NCH_PMT_AMT_2','LINE_NCH_PMT_AMT_3','LINE_NCH_PMT_AMT_4','LINE_NCH_PMT_AMT_5','LINE_NCH_PMT_AMT_6','LINE_NCH_PMT_AMT_7','LINE_NCH_PMT_AMT_8','LINE_NCH_PMT_AMT_9','LINE_NCH_PMT_AMT_10','LINE_NCH_PMT_AMT_11','LINE_NCH_PMT_AMT_12','LINE_NCH_PMT_AMT_13']].sum().sum())
stop = timeit.default_timer() 
print (stop - start)

690966390.0
642165130.0
37.05475137999747

In [27]:
start = timeit.default_timer() 
carrier_payment = pd.DataFrame(df_training.groupby('DESYNPUF_ID').sum()['T_NCH_PMT'])
stop = timeit.default_timer() 
print (stop - start)
print(carrier_payment.shape)
carrier_payment.head(50)

59.88718411300215
(96160, 1)

                  T_NCH_PMT
DESYNPUF_ID
00000B48BCF4AD29    48690.0
0000525AB30E4DEF    25920.0
00009C897C3D8372    16750.0
0002EC0BCA99CACF      860.0
0002FABBFD6D1C5C     2270.0
000364233C3E3682     4950.0
000433285C8D2349     4000.0
0004B213C9EA58EC      440.0
0005F7B5C901BB68      410.0
00063869E550F9B1     4280.0
0007C7A2777AA775     4500.0
0007DC6720F658B7    10250.0
0008148FCB4CB644     4040.0
00084CF1B8522AB2    14580.0
0009EB553C103F95     6190.0
000B6900337D45AF     3300.0
000C5BACF2F88B1E    26460.0
000C86BDB1E36D6D    16460.0
000DB9569914CD37     6500.0
000F39F1C0B54072     1020.0
000FAFF8F015D719       30.0
00108FE40FB5DB14    42240.0
0012BE2CD7CCF076     4010.0
001539F8694D461D     3750.0
00160CD71C53A94C      870.0
001634033AEA61D0     2870.0
00172C209B44D144     1340.0
0017CB27CFE0E78E     3410.0
00185AB04F5343B0    19580.0
001975B93778D739     2360.0
0019DB8555C7458D     6270.0
001B13AE7482691B     4450.0
001C9FA35A74B69B    12030.0
001CE374AB968487     1920.0
001D171C944A6B21    15120.0
001DB1CD9713ECCE     4020.0
001DD0BE9D05856C     4470.0
001DF507320A1E03     2540.0
001F8B8D2F5D57E4     2510.0
001FD44B518F45DF     3560.0
0021CBD17A9E36E5    21920.0
00220F0E8951EA01      850.0
00221614F9CAD387     4090.0
0022BDAF8FF056B5     4520.0
0022F00D86BEEF53    25080.0
002320D37E2999DA     2620.0
00243BA69DDA5C3B     4760.0
0024ECE375010536     2480.0
0025964A9D906FC9     2060.0
0027050975B2BBAF      910.0

In [28]:
carrier_payment.sum()

T_NCH_PMT    642165130.0
dtype: float64

In [29]:
carrier_payment['DESYNPUF_ID'] = carrier_payment.index
carrier_payment.head(20)

                  T_NCH_PMT       DESYNPUF_ID
DESYNPUF_ID
00000B48BCF4AD29    48690.0  00000B48BCF4AD29
0000525AB30E4DEF    25920.0  0000525AB30E4DEF
00009C897C3D8372    16750.0  00009C897C3D8372
0002EC0BCA99CACF      860.0  0002EC0BCA99CACF
0002FABBFD6D1C5C     2270.0  0002FABBFD6D1C5C
000364233C3E3682     4950.0  000364233C3E3682
000433285C8D2349     4000.0  000433285C8D2349
0004B213C9EA58EC      440.0  0004B213C9EA58EC
0005F7B5C901BB68      410.0  0005F7B5C901BB68
00063869E550F9B1     4280.0  00063869E550F9B1
0007C7A2777AA775     4500.0  0007C7A2777AA775
0007DC6720F658B7    10250.0  0007DC6720F658B7
0008148FCB4CB644     4040.0  0008148FCB4CB644
00084CF1B8522AB2    14580.0  00084CF1B8522AB2
0009EB553C103F95     6190.0  0009EB553C103F95
000B6900337D45AF     3300.0  000B6900337D45AF
000C5BACF2F88B1E    26460.0  000C5BACF2F88B1E
000C86BDB1E36D6D    16460.0  000C86BDB1E36D6D
000DB9569914CD37     6500.0  000DB9569914CD37
000F39F1C0B54072     1020.0  000F39F1C0B54072

In [30]:
## Counting Unique Claim IDs for each patient
carrier_number_perid = pd.DataFrame(df_training.groupby('DESYNPUF_ID').count()['CLM_ID'])
carrier_number_perid['DESYNPUF_ID'] = carrier_number_perid.index
carrier_number_perid.head(20)

                  CLM_ID       DESYNPUF_ID
DESYNPUF_ID
00000B48BCF4AD29     423  00000B48BCF4AD29
0000525AB30E4DEF     224  0000525AB30E4DEF
00009C897C3D8372     250  00009C897C3D8372
0002EC0BCA99CACF      10  0002EC0BCA99CACF
0002FABBFD6D1C5C      30  0002FABBFD6D1C5C
000364233C3E3682      64  000364233C3E3682
000433285C8D2349      37  000433285C8D2349
0004B213C9EA58EC       4  0004B213C9EA58EC
0005F7B5C901BB68       1  0005F7B5C901BB68
00063869E550F9B1      51  00063869E550F9B1
0007C7A2777AA775      63  0007C7A2777AA775
0007DC6720F658B7      87  0007DC6720F658B7
0008148FCB4CB644      36  0008148FCB4CB644
00084CF1B8522AB2     123  00084CF1B8522AB2
0009EB553C103F95      54  0009EB553C103F95
000B6900337D45AF      35  000B6900337D45AF
000C5BACF2F88B1E     270  000C5BACF2F88B1E
000C86BDB1E36D6D     123  000C86BDB1E36D6D
000DB9569914CD37      65  000DB9569914CD37
000F39F1C0B54072      16  000F39F1C0B54072

In [31]:
carrier_number_perid.sum()

CLM_ID                                                   7015600
DESYNPUF_ID    00000B48BCF4AD290000525AB30E4DEF00009C897C3D83...
dtype: object

In [32]:
carrier_dollar_visit = pd.merge(carrier_payment, carrier_number_perid, how = 'left', on = 'DESYNPUF_ID')
carrier_dollar_visit.head()

   T_NCH_PMT       DESYNPUF_ID  CLM_ID
0    48690.0  00000B48BCF4AD29     423
1    25920.0  0000525AB30E4DEF     224
2    16750.0  00009C897C3D8372     250
3      860.0  0002EC0BCA99CACF      10
4     2270.0  0002FABBFD6D1C5C      30

In [54]:
carrier_dollar_visit.sum()

T_NCH_PMT                                            3.60416e+08
DESYNPUF_ID    00000B48BCF4AD290000525AB30E4DEF00009C897C3D83...
CLM_ID                                                   4128808
dtype: object

In [33]:
clean_db = pd.merge(clean_df, carrier_dollar_visit, how = 'left', on = 'DESYNPUF_ID')
clean_db.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,Y,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,start_train_dt,end_train_dt,member_month,T_NCH_PMT,CLM_ID
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,0,NaN,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,25920.0,224.0
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,0,NaN,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,25920.0,224.0

In [34]:
 clean_db.rename(index=str, columns={"T_NCH_PMT": "carrier_pmt", "CLM_ID": "carrier_number_claims"}, inplace = True)

In [35]:
#PCP codes
codes = str(list(range(99201,99216)))
codes

'[99201, 99202, 99203, 99204, 99205, 99206, 99207, 99208, 99209, 99210, 99211, 99212, 99213, 99214, 99215]'

In [36]:
#PCP: True if contains of the codes
df_training['PCP'] = (df_training['HCPCS_CD_1'].apply(lambda x: str(x) in codes) | 
                    df_training['HCPCS_CD_2'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_3'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_4'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_5'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_6'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_7'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_8'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_9'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_10'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_11'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_12'].apply(lambda x: str(x) in codes) |
                    df_training['HCPCS_CD_13'].apply(lambda x: str(x) in codes))

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
office_visits = df_training[df_training.PCP == True]

In [38]:
office_visits_pt = office_visits.CLM_THRU_DT.groupby(office_visits.DESYNPUF_ID).nunique()
office_visits_pt

DESYNPUF_ID
00000B48BCF4AD29    39
0000525AB30E4DEF    25
00009C897C3D8372     7
0002EC0BCA99CACF     3
0002FABBFD6D1C5C     7
000364233C3E3682    18
000433285C8D2349     6
0004B213C9EA58EC     1
00063869E550F9B1    12
0007C7A2777AA775    18
0007DC6720F658B7    17
0008148FCB4CB644     2
00084CF1B8522AB2    35
0009EB553C103F95    11
000B6900337D45AF    16
000C5BACF2F88B1E    34
000C86BDB1E36D6D    32
000DB9569914CD37    24
000F39F1C0B54072     5
00108FE40FB5DB14    31
0012BE2CD7CCF076     9
001539F8694D461D    17
00160CD71C53A94C     6
001634033AEA61D0     7
00172C209B44D144     5
0017CB27CFE0E78E    11
00185AB04F5343B0    26
001975B93778D739    10
0019DB8555C7458D    18
001B13AE7482691B    15
                    ..
FFE69DFB7DB26B19     1
FFE8467E5E31DB80     3
FFE9234BB65E9DCE     3
FFE9469EFBE31407     3
FFE9794FEF4809AE    16
FFEA717CA46E3DC6     9
FFEB874E06B44F6A     6
FFED6166E1AC1D0F     3
FFEEA2DADA0F8739    33
FFEEDC4BBB5B76EF    14
FFEF2C8F40F4D555    30
FFEFEDB0F8B82921    16
FFF0A562C99579F7    22
FFF149A783256352    11
FFF255CAAD4B6772     1
FFF370284DA20AF9     1
FFF568428BD9D114    15
FFF68608B59727EC    13
FFF712CD0A0012A7    10
FFF9391DDFDE0751    18
FFF97C9138932083    12
FFF9B20E9BD82268    23
FFFACCE619556B22    29
FFFBA8A2A68015BA    11
FFFC2F140780137C     1
FFFC54BCEB2A0631     6
FFFCF02B3CE4D724     9
FFFE94CBE61C0479    18
FFFF0FD89207928D    12
FFFF52C0C450A585     9
Name: CLM_THRU_DT, Length: 88840, dtype: int64

In [39]:
office_visits_pt_df = pd.DataFrame(office_visits_pt, index = office_visits_pt.index)
office_visits_pt_df['DESYNPUF_ID'] = office_visits_pt_df.index

In [40]:
office_visits_pmt = pd.DataFrame(office_visits.groupby('DESYNPUF_ID').sum()['T_NCH_PMT'])

In [41]:
office_visits_pmt_df = pd.DataFrame(office_visits_pmt, index = office_visits_pmt.index)
office_visits_pmt_df['DESYNPUF_ID'] = office_visits_pmt_df.index

In [42]:
clean_db = pd.merge(clean_db, office_visits_pt_df, how = 'left', on = 'DESYNPUF_ID')
clean_db.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,fst_admsn_dt,DEATH_DUMMY,TRUE_AGE,first_ad_date,start_train_dt,end_train_dt,member_month,carrier_pmt,carrier_number_claims,CLM_THRU_DT
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0,39.0
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0,39.0
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,NaN,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0,39.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,NaN,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,25920.0,224.0,25.0
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,NaN,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,25920.0,224.0,25.0

In [43]:
clean_db = pd.merge(clean_db, office_visits_pmt_df, how = 'left', on = 'DESYNPUF_ID')
clean_db.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,...,DEATH_DUMMY,TRUE_AGE,first_ad_date,start_train_dt,end_train_dt,member_month,carrier_pmt,carrier_number_claims,CLM_THRU_DT,T_NCH_PMT
0,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0,39.0,16320.0
1,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0,39.0,16320.0
2,00000B48BCF4AD29,19230901,0,1,5,10,260,2,1,2,...,0,86,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,48690.0,423.0,39.0,16320.0
3,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,25920.0,224.0,25.0,6340.0
4,0000525AB30E4DEF,19201001,0,1,1,31,300,2,2,2,...,0,89,3000-01-01 00:00:00,2008-01-01,2999-07-01,11905,25920.0,224.0,25.0,6340.0

In [44]:
 clean_db.rename(index=str, columns={"CLM_THRU_DT": "office_visits", "T_NCH_PMT": "office_visits_pmt"}, inplace = True)

In [45]:
pickle.dump(clean_db, open( "clean_db_add_carrier.p", "wb" ) )